@font-face {
    font-family: "terminal";
    src: url('fonts/Cascadia.ttf');
  }

body{
    background-color: black;
    text-align: center;
    font-family: 'terminal';
}

a {
    color: blue;
    font-family: 'terminal';
    font-size: 16px;
}

#heading {
    color:#0f0;
    font-family: 'terminal';
    font-size:25px;
    text-align: center;
    margin-top:20%;
}

#bar {
    margin-left:40%;
    border: 2px solid #0f0;
    width:20%;
 
}
#prog {
    background-color: #0f0;
    width: 1%;
    height:35px;
  }
  #logo{
      float:left;

  }

  #logoicon {
      float:left;
      position:absolute;
      top:30px;
      margin-left:30px;
      height:10%;
      width:5%;
  }

  #logolabel{
      font-family: 'terminal';
      font-size:28px;
      color:#0f0;
      position:absolute;
      top:40px;
      left:160px;
  }