@font-face {
  font-family: "terminal";
  src: url("C:/Users/samhu/Terminal-Website/style/fonts/Cascadia.ttf");
}

body {
  font-family: "terminal";
  text-decoration: none;
  color:rgb(20, 170, 0);
  background-color: black;
  min-width: 550px;
  overflow: hidden;
}


#intro {
  font-size: 18px;
  text-decoration: none;
  color:#007BC7;
}

#divtext {
  background-color: black;
  color:#007BC7;
  border: none;
  cursor: default;
}

#usrinput {
  font-family: "terminal";
  font-size: 18px;
  resize: none;
  border: none;
  width: 100%;
  height:100%;
  background: black;
  color:rgb(20, 170, 0);
}

#usrinput:focus {
  outline: none !important;
}

#extras{
  display: block;
  float:right;
  font-size:20px;
  margin-left:1100px;
  top:60px;
  position:absolute;
  font-family: "terminal";
  resize: none;
  border: none;
  width: 50%;
  height:70%;
  background: black; 
  color: #a800f0;
}

#extras:focus {
  outline: none !important;
  caret-color: transparent;
}

